<form action='/bookmarks/add' method='post'>
  <input name='page_address' type='text' placeholder='Your url'>
  <input name='title' type='text' placeholder='Your title'>
  <input type='submit' value='Add bookmark'>
</form>

<ul>
  <% @bookmarks.each do |bookmark_hash| %>
    <%# our bookmark_hash is a hash  %>
    <%# {:title=>"Test title", :url=>"google.com"} %>
    <li><%= bookmark_hash[:title] %>: <%= bookmark_hash[:url]%></li>
    <%# 'Title: google.com' %>
    <%# <a href="google.com">link text</a> %>
  <% end %>
</ul>

