<form action='/bookmarks/add' method='post'>
  <input name='page_address' type='text' placeholder='Your url'>
  <input name='title' type='text' placeholder='Your title'>
  <input type='submit' value='Add bookmark'>
</form>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
    <%= bookmark.title %>: <a href=<%= bookmark.url %> target="_blank" ><%= bookmark.url %>
    </a>
    </li>  
  <% end %>
</ul>

